@use "./variables" as *;
@use "./utils" as *;

.icon-correct--answer {
  display: none;
  position: absolute;
  top: 50%;
  right: 2%;

  transform: translateY(-50%);
}

.icon-incorrect--answer {
  display: none;
  position: absolute;
  top: 50%;
  right: 2%;

  transform: translateY(-50%);
}

.quiz-section--answers input[type="radio"]:checked + .quiz-item {
  box-shadow: var(--bs-question-selected);

  .logo-container {
    background-color: var(--clr-purple-2);
  }

  .logo-text {
    color: var(--clr-white);
  }
}

.quiz-section--correct input[type="radio"]:checked + .quiz-item {
  box-shadow: var(--bs-inline-green);

  .logo-container {
    background-color: var(--clr-green-2);
  }

  .icon-correct.icon-correct--answer {
    display: block;
  }
}

.quiz-section--incorrect input[type="radio"]:checked + .quiz-item {
  box-shadow: var(--bs-inline-red);

  .logo-container {
    background-color: var(--clr-red-1);
  }

  .icon-incorrect--answer {
    display: block;
  }
}

.quiz-section--incorrect
  input[type="radio"].true-correct:not(:checked)
  + .quiz-item {
  .icon-correct {
    display: block;
  }
}

li[role="radio"]:focus-visible .quiz-item {
  box-shadow: var(--bs-inline-orange);
}
