@use "utils" as *;
@use "variables" as *;

html {
  min-height: 100svh;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-1);

  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.quiz-app {
  min-height: 100svh;
  padding-inline: var(--sp-3);
  padding-block-start: var(--sp-2);

  @media (min-width: $bp-tablet) {
    padding-inline: var(--sp-7);
    padding-block-start: var(--sp-5);
  }
}

.theme-light .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;

  @media (min-width: $bp-tablet) {
    background-image: url("../assets/images/pattern-background-tablet-light.svg");
  }

  @media (min-width: $bp-desktop) {
    background-image: url("../assets/images/pattern-background-desktop-light.svg");
  }
}

.theme-dark .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;

  @media (min-width: $bp-tablet) {
    background-image: url("../assets/images/pattern-background-tablet-dark.svg");
  }

  @media (min-width: $bp-desktop) {
    background-image: url("../assets/images/pattern-background-desktop-dark.svg");
  }
}
