@use "utils" as *;
@use "variables" as *;

html {
  min-height: 100svh;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-1);
}
