@use "./variables" as *;
@use "./utils" as *;

.text-label {
  font-size: var(--fs-5);
  line-height: var(--lh-5);
  font-weight: var(--fw-light);
  color: var(--clr-label);
  font-style: italic;

  @media (min-width: $bp-tablet) {
    font-size: var(--fs-6);
    line-height: var(--lh-6);
  }
}
