@use "utils" as *;
@use "variables" as *;

.logo-container {
  width: toRem(40px);
  height: toRem(40px);
  border-radius: var(--border-logo-container);
  background-color: var(--clr-purple-1);

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $bp-tablet) {
    width: toRem(56px);
    height: toRem(56px);
  }
}

.logo--html {
  background-color: var(--clr-orange-1);
}

.logo--css {
  background-color: var(--clr-green-1);
}

.logo--js {
  background-color: var(--clr-blue-1);
}

.logo--accessibility {
  background-color: var(--clr-purple-1);
}

.logo--text {
  background-color: var(--clr-grey-1);
}

.logo-icon {
  width: toRem(21.42px);
  height: toRem(25px);

  @media (min-width: $bp-tablet) {
    width: 40px;
    height: 40px;
  }
}

.logo-text {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-medium);
  color: var(--clr-grey-2);
}
