@use "./variables" as *;
@use "./utils" as *;

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);

  list-style: none;

  @media (min-width: $bp-tablet) {
    gap: var(--sp-3);
  }
}

.quiz-item {
  position: relative;
  min-height: var(--h-quiz-item);

  display: flex;
  align-items: center;
  gap: var(--sp-2);

  padding: var(--sp-2);
  background-color: var(--clr-surface);
  border-radius: var(--br-item);
  cursor: pointer;

  --border-logo-container: var(--br-logo-subject);

  @media (min-width: $bp-tablet) {
    gap: var(--sp-4);
  }

  @media (min-width: $bp-desktop) {
    padding: var(--sp-3);
  }

  .logo-container {
    flex-shrink: 0;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--bs-inline-orange);
  }
}

.item-title {
  color: var(--clr-text);
}
