@use "utils" as *;
@use "variables" as *;

.quiz-app {
  min-height: 100svh;
  width: 100%;
  max-width: 1440px;
  padding-inline: var(--sp-3);
  padding-block-start: var(--sp-2);

  @media (min-width: $bp-tablet) {
    padding-inline: var(--sp-7);
    padding-block-start: var(--sp-5);
  }

  @media (min-width: $bp-desktop) {
    padding-inline: var(--sp-9);
    padding-block-start: var(--sp-7);
  }
}

.quiz-body {
  @media (min-width: $bp-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.quiz-section {
  margin-block-end: var(--sp-5);
}
