/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@use "./utils" as *;

$bp-tablet: toRem(768px);
$bp-desktop: toRem(1440px);

:root {
  --clr-primary: hsl(172, 67%, 45%);

  --clr-white: #fff;
  --clr-black: #000;

  --clr-grey-1: #f4f6fa;
  --clr-grey-2: #626c7f;

  --clr-blue-1: #ebf0ff;
  --clr-blue-2: #edf1f9;
  --clr-blue-3: #abc1e1;
  --clr-blue-4: #306aff;
  --clr-blue-5: #3b4d66;
  --clr-blue-6: #313e51;
  --clr-blue-7: #2d3949;

  --clr-green-1: #e0fdef;
  --clr-green-2: #2fd887;

  --clr-purple-1: #f6e7ff;
  --clr-purple-2: #a729f5;

  --clr-orange-1: #fff5ed;
  --clr-orange-2: #ff7e35;

  --clr-red-1: #ee5454;

  --ff-main: "Rubik";

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  // FONT SIZE
  --fs-1: #{toRem(88px)};
  --fs-2: #{toRem(40px)};
  --fs-3: #{toRem(20px)};
  --fs-4: #{toRem(18px)};
  --fs-5: #{toRem(14px)};

  @media (min-width: $bp-tablet) {
    --fs-1: #{toRem(144px)};
    --fs-2: #{toRem(64px)};
    --fs-3: #{toRem(36px)};
    --fs-4: #{toRem(28px)};
    --fs-5: #{toRem(24px)};
    --fs-6: #{toRem(20px)};
  }

  // LINE HEIGHT
  --lh-1: 1;
  --lh-2: 1;
  --lh-3: 1.2;
  --lh-4: 1;
  --lh-5: 1.5;
  --lh-6: 1.6;

  // Letter spacing
  --ls-1: 0px;

  // SPACING
  --sp-1: #{toRem(8px)};
  --sp-2: #{toRem(16px)};
  --sp-3: #{toRem(24px)};
  --sp-4: #{toRem(32px)};
  --sp-5: #{toRem(40px)};
  --sp-6: #{toRem(48px)};
  --sp-7: #{toRem(64px)};
  --sp-8: #{toRem(128px)};
  --sp-9: #{toRem(144px)};
  --sp-10: #{toRem(184px)};
}
