/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey-1: #f4f6fa;
  --clr-grey-2: #626c7f;
  --clr-blue-1: #ebf0ff;
  --clr-blue-2: #edf1f9;
  --clr-blue-3: #abc1e1;
  --clr-blue-4: #306aff;
  --clr-blue-5: #3b4d66;
  --clr-blue-6: #313e51;
  --clr-blue-7: #2d3949;
  --clr-green-1: #e0fdef;
  --clr-green-2: #2fd887;
  --clr-purple-1: #f6e7ff;
  --clr-purple-2: #a729f5;
  --clr-orange-1: #fff5ed;
  --clr-orange-2: #ff7e35;
  --clr-red-1: #ee5454;
  --ff-main: "Rubik";
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fs-1: 5.5rem;
  --fs-2: 2.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --lh-1: 1;
  --lh-2: 1;
  --lh-3: 1.2;
  --lh-4: 1;
  --lh-5: 1.5;
  --lh-6: 1.5;
  --ls-1: 0px;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --sp-4: 2rem;
  --sp-5: 2.5rem;
  --sp-6: 3rem;
  --sp-7: 4rem;
  --sp-8: 8rem;
  --sp-9: 9rem;
  --sp-10: 11.5rem;
  --br-1: toRem(4px);
  --br-2: 999px;
  --br-circle: 50%;
  --br-item: 12px;
  --br-logo: 4px;
  --br-logo-subject: 6px;
  --br-progress-bar: 104px;
  --bs-question-selected: inset 0 0 0 3px var(--clr-purple-2);
  --bs-question-hover: inset 0 0 0 3px var(--clr-purple-1);
  --bs-inline-orange: inset 0 0 0 3px var(--clr-orange-2);
  --bs-inline-green: inset 0 0 0 3px var(--clr-green-2);
  --bs-inline-red: inset 0 0 0 3px var(--clr-red-1);
}
@media (min-width: 48rem) {
  :root {
    --fs-1: 9rem;
    --fs-2: 4rem;
    --fs-3: 2.25rem;
    --fs-4: 1.75rem;
    --fs-5: 1.5rem;
    --fs-6: 1.25rem;
  }
}
@media (min-width: 48rem) {
  :root {
    --br-logo: 8px;
  }
}

/**

TODO: trebuie extrase niste denumiri de variabile pentru perechile astea de culori si schimbata valoare variabilei in functie de tema

Pentru schimbarea de teme:

img decoratiune background diferit: desktop / tablet / mobile dar si dark / light

----------------------------  Start menu Light vs Dark:

img decoratiune
culoare background: --clr-grey-1 vs --clr-blue-6
culoare items background:  white vs --clr-blue-5
culoare items text : --clr-blue-6 vs white
culoare title: --clr-blue-6 vs white
culoare title label scris mic ("question 6 of 10"): --clr-grey-2 vs --clr-blue-3

culoare categorie title: clr-blue-6 vs white 

culoare   theme switcher: clr-grey-2 vs white

----------------------------   Question:

Question 6 of 10 (label intrebare) - diferenta: --clr-grey-2 vs --clr-blue-3
culoare text continut varianta: --clr-blue-6 vs white
culoare title intrebare: clr-blue-6 vs white

----------------------------   Active and hover:

nu vad diferente 

----------------------------   Correct answer:

nu vad diferente 


----------------------------   Incorrect answer:

nu vad diferente 


----------------------------   No answer selected:

culoarea textului erorii "Please select an answer" difera, dar nu stiu daca as schimba-o: --clr-red   vs --clr-grey-1

----------------------------   Score:

culoare tab score background :white vs --clr-blue-5
culoare score category label: --clr-blue-6 vs white
culoare score text: --clr-blue-6 vs white
culoare score label ("out of 10") // diferente similare ca in primul ecran: --clr-grey-2 vs --clr-blue-3



background
item background
text color
label color
theme-switcher-color

**/
/* Light theme */
.theme-light {
  --clr-bg: var(--clr-grey-1);
  --clr-surface: var(--clr-white);
  --clr-text: var(--clr-blue-6);
  --clr-label: var(--clr-grey-2);
  --clr-theme-switcher: var(--clr-grey-2);
}

/* Dark theme */
.theme-dark {
  --clr-bg: var(--clr-blue-6);
  --clr-surface: var(--clr-blue-5);
  --clr-text: var(--clr-white);
  --clr-label: var(--clr-blue-3);
  --clr-theme-switcher: var(--clr-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
input:focus, input:active,
button:focus,
button:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  outline: none;
}

*[role=radio]:focus {
  outline: none;
}

input[type=radio] {
  display: none;
}

html {
  min-height: 100svh;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-1);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  display: flex;
  justify-content: center;
}

.theme-light .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .theme-light .quiz-app {
    background-image: url("../assets/images/pattern-background-tablet-light.svg");
  }
}
@media (min-width: 90rem) {
  .theme-light .quiz-app {
    background-image: url("../assets/images/pattern-background-desktop-light.svg");
  }
}

.theme-dark .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .theme-dark .quiz-app {
    background-image: url("../assets/images/pattern-background-tablet-dark.svg");
  }
}
@media (min-width: 90rem) {
  .theme-dark .quiz-app {
    background-image: url("../assets/images/pattern-background-desktop-dark.svg");
  }
}

.hidden {
  display: none !important;
}

.title-app-text {
  font-size: var(--fs-2);
  font-weight: var(--fw-light);
  line-height: var(--lh-2);
  margin-block-end: var(--sp-2);
}
.title-app-text span {
  font-weight: var(--fw-medium);
}
@media (min-width: 90rem) {
  .title-app-text {
    margin-block-end: var(--sp-6);
  }
}

.text-label {
  font-size: var(--fs-5);
  line-height: var(--lh-5);
  font-weight: var(--fw-light);
  color: var(--clr-label);
  font-style: italic;
}
@media (min-width: 48rem) {
  .text-label {
    font-size: var(--fs-6);
    line-height: var(--lh-6);
  }
}

.text-label--question {
  display: block;
  margin-block-end: var(--sp-2);
}
@media (min-width: 48rem) {
  .text-label--question {
    margin-block-end: var(--sp-3);
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
}
@media (min-width: 48rem) {
  .btn-container {
    gap: var(--sp-4);
  }
}

.btn {
  display: block;
  width: 100%;
  padding-block: var(--sp-2);
  border-radius: var(--br-item);
  background-color: var(--clr-purple-2);
  color: var(--clr-white);
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-medium);
  cursor: pointer;
}
.btn:focus-visible {
  box-shadow: var(--bs-inline-orange);
}
@media (min-width: 48rem) {
  .btn {
    padding-block: var(--sp-4);
  }
}

.btn-error {
  display: none;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);
}

.btn-error--visible {
  display: flex;
}

.error-text {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-regular);
  color: var(--clr-text);
}
@media (min-width: 48rem) {
  .error-text {
    font-size: var(--fs-5);
    line-height: var(--lh-5);
  }
}

.icon-correct {
  width: 32px;
  height: 32px;
}
@media (min-width: 48rem) {
  .icon-correct {
    width: 40px;
    height: 40px;
  }
}

.icon-incorrect {
  width: 32px;
  height: 32px;
}
@media (min-width: 48rem) {
  .icon-incorrect {
    width: 40px;
    height: 40px;
  }
}

.quiz-app {
  min-height: 100svh;
  width: 100%;
  max-width: 1440px;
  padding-inline: var(--sp-3);
  padding-block-start: var(--sp-2);
}
@media (min-width: 48rem) {
  .quiz-app {
    padding-inline: var(--sp-7);
    padding-block-start: var(--sp-5);
  }
}
@media (min-width: 90rem) {
  .quiz-app {
    padding-inline: var(--sp-9);
    padding-block-start: var(--sp-7);
  }
}

@media (min-width: 90rem) {
  .quiz-body {
    display: grid;
    grid-template-columns: 1fr 49%;
    column-gap: var(--sp-8);
  }
}

.quiz-section--title {
  margin-block-end: var(--sp-5);
}
@media (min-width: 48rem) {
  .quiz-section--title {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.quiz-section--answers {
  margin-block-end: var(--sp-2);
}
@media (min-width: 48rem) {
  .quiz-section--answers {
    margin-block-end: var(--sp-4);
  }
}

.quiz-section--score {
  margin-block-end: var(--sp-2);
}
@media (min-width: 48rem) {
  .quiz-section--score {
    margin-block-end: var(--sp-4);
  }
}

.title-logo-container {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
  --border-logo-container: var(--br-logo);
}
@media (min-width: 48rem) {
  .title-logo-container {
    gap: var(--sp-3);
  }
}

.logo-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--border-logo-container);
  background-color: var(--clr-purple-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 48rem) {
  .logo-container {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.logo--html {
  background-color: var(--clr-orange-1);
}

.logo--css {
  background-color: var(--clr-green-1);
}

.logo--js {
  background-color: var(--clr-blue-1);
}

.logo--accessibility {
  background-color: var(--clr-purple-1);
}

.logo--text {
  background-color: var(--clr-grey-1);
}

.logo-icon {
  width: 1.33875rem;
  height: 1.5625rem;
}
@media (min-width: 48rem) {
  .logo-icon {
    width: 40px;
    height: 40px;
  }
}

.logo-text {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-medium);
  color: var(--clr-grey-2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: var(--sp-2);
  margin-block-end: var(--sp-4);
}
@media (min-width: 90rem) {
  .header {
    margin-block-end: var(--sp-7);
  }
}

.theme-switcher {
  display: flex;
  align-items: center;
  gap: var(--sp-1);
  cursor: pointer;
}

.theme-switcher-icon-sun {
  width: 14px;
  height: 14px;
  background-image: url("../assets/images/icon-sun-light.svg");
  background-size: contain;
}
@media (min-width: 48rem) {
  .theme-switcher-icon-sun {
    width: 21px;
    height: 21px;
  }
}

.theme-switcher-icon-moon {
  width: 14px;
  height: 14px;
  background-image: url("../assets/images/icon-moon-light.svg");
  background-size: contain;
}
@media (min-width: 48rem) {
  .theme-switcher-icon-moon {
    width: 21px;
    height: 21px;
  }
}

.theme-light .theme-switcher-icon-sun {
  background-image: url("../assets/images/icon-sun-dark.svg");
}
.theme-light .theme-switcher-icon-moon {
  background-image: url("../assets/images/icon-moon-dark.svg");
}

.theme-dark .theme-switcher-icon-sun {
  background-image: url("../assets/images/icon-sun-light.svg");
}
.theme-dark .theme-switcher-icon-moon {
  background-image: url("../assets/images/icon-moon-light.svg");
}

.theme-switcher-btn-container {
  --padding: 4px;
  width: 32px;
  height: 20px;
  border-radius: var(--br-2);
  padding: var(--padding);
  background-color: var(--clr-purple-2);
  cursor: pointer;
  position: relative;
}
@media (min-width: 48rem) {
  .theme-switcher-btn-container {
    width: 48px;
    height: 28px;
  }
}
.theme-switcher-btn-container:focus-visible {
  box-shadow: var(--bs-inline-orange);
}
.theme-switcher-btn-container:focus {
  outline: none;
}

.theme-switcher-btn {
  --radius: 12px;
  width: var(--radius);
  height: var(--radius);
  border-radius: var(--br-circle);
  background-color: var(--clr-white);
  position: absolute;
  left: var(--padding);
  transition: left 0.25s ease;
}
@media (min-width: 48rem) {
  .theme-switcher-btn {
    --radius: 20px;
  }
}

#checkboxTheme {
  display: none;
}
#checkboxTheme:checked + .theme-switcher-btn {
  left: calc(100% - var(--padding) - var(--radius));
}

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
  list-style: none;
}
@media (min-width: 48rem) {
  .quiz-list {
    gap: var(--sp-3);
  }
}

.quiz-item {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
  padding: var(--sp-2);
  background-color: var(--clr-surface);
  border-radius: var(--br-item);
  cursor: pointer;
  --border-logo-container: var(--br-logo-subject);
}
@media (min-width: 48rem) {
  .quiz-item {
    gap: var(--sp-4);
  }
}
@media (min-width: 90rem) {
  .quiz-item {
    padding: var(--sp-3);
  }
}

.item-title {
  color: var(--clr-text);
}

.question-text {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  font-weight: var(--fw-medium);
  color: var(--clr-text);
  margin-block-end: var(--sp-3);
}
@media (min-width: 48rem) {
  .question-text {
    margin-block-end: var(--sp-5);
  }
}

.progress-bar-container {
  width: 100%;
  background-color: var(--clr-surface);
  padding: 4px;
  border-radius: var(--br-2);
}

.progress-bar {
  --percentage: 30%;
  height: var(--sp-1);
  width: var(--percentage);
  background-color: var(--clr-purple-2);
  border-radius: var(--br-progress-bar);
}

.btn--question {
  grid-row: 2;
  grid-column: 2/span 1;
}

.icon-correct--answer {
  display: none;
  margin-left: auto;
}

.icon-incorrect--answer {
  display: none;
  margin-left: auto;
}

.quiz-section--answers input[type=radio]:checked + .quiz-item {
  box-shadow: var(--bs-question-selected);
}
.quiz-section--answers input[type=radio]:checked + .quiz-item .logo-container {
  background-color: var(--clr-purple-2);
}
.quiz-section--answers input[type=radio]:checked + .quiz-item .logo-text {
  color: var(--clr-white);
}

.quiz-section--correct input[type=radio]:checked + .quiz-item {
  box-shadow: var(--bs-inline-green);
}
.quiz-section--correct input[type=radio]:checked + .quiz-item .logo-container {
  background-color: var(--clr-green-2);
}
.quiz-section--correct input[type=radio]:checked + .quiz-item .icon-correct.icon-correct--answer {
  display: block;
}

.quiz-section--incorrect input[type=radio]:checked + .quiz-item {
  box-shadow: var(--bs-inline-red);
}
.quiz-section--incorrect input[type=radio]:checked + .quiz-item .logo-container {
  background-color: var(--clr-red-1);
}
.quiz-section--incorrect input[type=radio]:checked + .quiz-item .icon-incorrect--answer {
  display: block;
}

.quiz-section--answers input[type=radio].true-correct:not(:checked) + .quiz-item .icon-correct {
  display: block;
}

li[role=radio]:focus-visible .quiz-item {
  box-shadow: var(--bs-inline-orange);
}

.score-card {
  padding: var(--sp-4);
  background-color: var(--clr-surface);
  border-radius: var(--br-item);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-2);
}
.score-card .text-label {
  font-style: normal;
  font-weight: var(--fw-regular);
}
@media (min-width: 48rem) {
  .score-card {
    padding: var(--sp-6);
    gap: var(--sp-5);
  }
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-2);
}

.score-value {
  font-size: var(--fs-1);
}

.btn--score {
  grid-row: 2;
  grid-column: 2/span 1;
}

/*# sourceMappingURL=styles.css.map */
