/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey-1: #f4f6fa;
  --clr-grey-2: #626c7f;
  --clr-blue-1: #ebf0ff;
  --clr-blue-2: #edf1f9;
  --clr-blue-3: #abc1e1;
  --clr-blue-4: #306aff;
  --clr-blue-5: #3b4d66;
  --clr-blue-6: #313e51;
  --clr-blue-7: #2d3949;
  --clr-green-1: #e0fdef;
  --clr-green-2: #2fd887;
  --clr-purple-1: #f6e7ff;
  --clr-purple-2: #a729f5;
  --clr-orange-1: #fff5ed;
  --clr-orange-2: #ff7e35;
  --clr-red-1: #ee5454;
  --ff-main: "Rubik";
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fs-1: 5.5rem;
  --fs-2: 2.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --lh-1: 1;
  --lh-2: 1;
  --lh-3: 1.2;
  --lh-4: 1;
  --lh-5: 1.5;
  --lh-6: 1.6;
  --ls-1: 0px;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --sp-4: 2rem;
  --sp-5: 2.5rem;
  --sp-6: 3rem;
  --sp-7: 4rem;
  --sp-8: 8rem;
  --sp-9: 9rem;
  --sp-10: 11.5rem;
  --br-1: toRem(4px);
  --br-2: 999px;
  --br-circle: 50%;
}
@media (min-width: 48rem) {
  :root {
    --fs-1: 9rem;
    --fs-2: 4rem;
    --fs-3: 2.25rem;
    --fs-4: 1.75rem;
    --fs-5: 1.5rem;
    --fs-6: 1.25rem;
  }
}

/**

TODO: trebuie extrase niste denumiri de variabile pentru perechile astea de culori si schimbata valoare variabilei in functie de tema

Pentru schimbarea de teme:

img decoratiune background diferit: desktop / tablet / mobile dar si dark / light

----------------------------  Start menu Light vs Dark:

img decoratiune
culoare background: --clr-grey-1 vs --clr-blue-6
culoare items background:  white vs --clr-blue-5
culoare items text : --clr-blue-6 vs white
culoare title: --clr-blue-6 vs white
culoare title label scris mic ("question 6 of 10"): --clr-grey-2 vs --clr-blue-3

culoare categorie title: clr-blue-6 vs white 

culoare   theme switcher: clr-grey-2 vs white

----------------------------   Question:

Question 6 of 10 (label intrebare) - diferenta: --clr-grey-2 vs --clr-blue-3
culoare text continut varianta: --clr-blue-6 vs white
culoare title intrebare: clr-blue-6 vs white

----------------------------   Active and hover:

nu vad diferente 

----------------------------   Correct answer:

nu vad diferente 


----------------------------   Incorrect answer:

nu vad diferente 


----------------------------   No answer selected:

culoarea textului erorii "Please select an answer" difera, dar nu stiu daca as schimba-o: --clr-red   vs --clr-grey-1

----------------------------   Score:

culoare tab score background :white vs --clr-blue-5
culoare score category label: --clr-blue-6 vs white
culoare score text: --clr-blue-6 vs white
culoare score label ("out of 10") // diferente similare ca in primul ecran: --clr-grey-2 vs --clr-blue-3



background
item background
text color
label color
theme-switcher-color

**/
/* Light theme */
.theme-light {
  --clr-bg: var(--clr-grey-1);
  --clr-surface: var(--clr-white);
  --clr-text: var(--clr-blue-6);
  --clr-label: var(--clr-grey-2);
  --clr-theme-switcher: var(--clr-grey-2);
}

/* Dark theme */
.theme-dark {
  --clr-bg: var(--clr-blue-6);
  --clr-surface: var(--clr-blue-5);
  --clr-text: var(--clr-white);
  --clr-label: var(--clr-blue-3);
  --clr-theme-switcher: var(--clr-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
input:focus, input:active,
button:focus,
button:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
  outline: none;
}

html {
  min-height: 100svh;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-4);
  letter-spacing: var(--ls-1);
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.quiz-app {
  min-height: 100svh;
  padding-inline: var(--sp-3);
  padding-block-start: var(--sp-2);
}

.theme-light .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .theme-light .quiz-app {
    background-image: url("../assets/images/pattern-background-tablet-light.svg");
  }
}
@media (min-width: 90rem) {
  .theme-light .quiz-app {
    background-image: url("../assets/images/pattern-background-desktop-light.svg");
  }
}

.theme-dark .quiz-app {
  background-image: url("../assets/images/pattern-background-mobile-dark.svg");
  background-repeat: no-repeat;
}
@media (min-width: 48rem) {
  .theme-dark .quiz-app {
    background-image: url("../assets/images/pattern-background-tablet-dark.svg");
  }
}
@media (min-width: 90rem) {
  .theme-dark .quiz-app {
    background-image: url("../assets/images/pattern-background-desktop-dark.svg");
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: var(--sp-2);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
}

.logo-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--clr-purple-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  width: 1.33875rem;
  height: 1.5625rem;
}

.theme-switcher {
  display: flex;
  align-items: center;
}

.theme-switcher-icon-sun {
  width: 14px;
  height: 14px;
  background-image: url("../assets/images/icon-sun-light.svg");
  background-size: contain;
}

.theme-switcher-icon-moon {
  width: 14px;
  height: 14px;
  background-image: url("../assets/images/icon-moon-light.svg");
  background-size: contain;
}

.theme-light .theme-switcher-icon-sun {
  background-image: url("../assets/images/icon-sun-dark.svg");
}
.theme-light .theme-switcher-icon-moon {
  background-image: url("../assets/images/icon-moon-dark.svg");
}

.theme-dark .theme-switcher-icon-sun {
  background-image: url("../assets/images/icon-sun-light.svg");
}
.theme-dark .theme-switcher-icon-moon {
  background-image: url("../assets/images/icon-moon-light.svg");
}

.theme-switcher-btn-container {
  --padding: 4px;
  width: 32px;
  height: 20px;
  border-radius: var(--br-2);
  padding: var(--padding);
  background-color: var(--clr-purple-2);
  position: relative;
}

.theme-switcher-btn {
  --radius: 12px;
  width: var(--radius);
  height: var(--radius);
  border-radius: var(--br-circle);
  background-color: var(--clr-white);
  position: absolute;
  left: var(--padding);
  transition: left 0.25s ease;
}

#checkboxTheme {
  display: none;
}
#checkboxTheme:checked + .theme-switcher-btn {
  left: calc(100% - var(--padding) - var(--radius));
}

/*# sourceMappingURL=styles.css.map */
